name: Build

on:
  push:
    branches:
      - main
      - testing
      - web-version
  pull_request:
    branches:
      - main
      - testing
      - web-version

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # Backend
      - name: Install Backend Dependencies
        working-directory: backend
        run: npm install

      # Frontend
      - name: Install Frontend Dependencies
        working-directory: frontend
        run: npm install

      - name: Build Frontend
        working-directory: frontend
        run: npm run build